*{
    box-sizing: border-box;
}
body {
    font-family: Arial;
    background: #f1f1f1;
}
.dark-mode {
    background-color: #0A3449;
    color: white;
}
/* Header/Dashboard Title */
.header {
    padding: 0.1%;
    font-size: 100%;
    text-align: center;
    background: #2c568e;
    color: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 65%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 35%;
    padding-left: 0.3%;
}

/* Fake image */

/* Add a card effect for articles */
.card {
    border: 1px solid black;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 0.1%;
    text-align: center;
    background: #2c568e;
    margin-top: 0.1%;
    font-family: Arial;
    color: white;
}

/* Style the navigation bar */
.navbar {
    
    width: 100%;
    background-color: #2c568e;
    overflow: auto;
}
/* Navbar links */
.navbar a {
    height: 50px;
    width: 140px;
    float: left;
    text-align: center;
    padding:2%;
    color: white;
    text-decoration: none;
    font-size: 100%;
}
button{
    height: 50px;
    width: 130px;
    float: center;
    text-align: center;
    padding:2%;
    text-decoration: none;
    font-size: 100%;
    background-color: #2c568e;
}

/* Navbar links on mouse-over */
.navbar a:hover {
    background-color: #284e80;
}

/* Current/active navbar link */
.active {
    background-color: #1f4373;
}
.toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #6F257F;
    padding: 14px;
    text-align: center;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
    .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
    }
    .navbar a {
        float: none;
        display: block;
    }
}