/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    font-size: 18px;
    width: 20%;
    float: left;
}
  
.tablink:hover {
    background-color: #777;
}
  
/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: black;
    display: none;
    background-color: white;
    padding: 100px 20px;
    height: 100%;
}