ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

li b {
    float: left;
    color: #000;
    text-align: center;
    padding: 8px 0px;
    width: 20%;
    text-decoration: none;
}

/* Change the link color on hover */
li b:hover {
    background-color: #555;
    color: white;
}