<h1>This is a api of dashboard app</h1>
<h2>option return</h2>
<nav>
    <ul>
        <li><a href="{% url 'customers' %}">customers</a></li>
        <li><a href="{% url 'employees' %}">employees</a></li>
        <li><a href="{% url 'products' %}">products</a></li>
        <li><a href="{% url 'stores' %}">stores</a></li>
        <li><a href="{% url 'topcustomers' %}">topcustomers</a></li>
        <li><a href="{% url 'topemployees' %}">topemployees</a></li>
        <li><a href="{% url 'topproducts' %}">topproducts</a></li>
        <li><a href="{% url 'topstores' %}">topstores</a></li>
        <li><a href="{% url 'overview' %}">overview</a></li>
    </ul>
</nav>