{% extends 'base.html' %} {% block title %} Dashboard {% endblock %} {% block content %}
<h1>Doanh số bán hàng công ty ABC</h1>
<div class="menu">
    {% include 'herNavBar.html' %}
</div>
<div class="dashBoard">
    <div id="tooltip" class="hidden">
        <p><span id="value"></p>
    </div>
    <div class="row">
        <!-- left col -->
        <div class="columnLeft">
            <svg width="800" height="500" id='chart1' style="background-color: aqua"></svg>
        </div>
        <!-- right col -->
        <div class="columnRight">
            <svg width="500" height="350" id='chart2' style="background-color: aqua"></svg>
        </div>
    </div>
</div>
{% endblock %}