 {% load static %}
<link rel="stylesheet" type="text/css" , href="{% static 'css/menuDashboard.css' %}" />
<script src="{% static 'js/d3.v4.js' %}"></script>
<script src="{% static 'js/d3.min.js' %}"></script>
<script src="{% static 'js/rankchart.js' %}"></script>
<script src="{% static 'js/singmap.js' %}"></script>

<button class="tablink" onclick="chooseTab(Overview, this, 'green')" id="defaultOpen">Overview</button>
<button class="tablink" onclick="chooseTab(Customers, this, 'green')">Customers</button>
<button class="tablink" onclick="chooseTab(Employees, this, 'green')">Employees</button>
<button class="tablink" onclick="chooseTab(Stores, this, 'green')">Stores</button>
<button class="tablink" onclick="chooseTab(Products, this, 'green')">Products</button>

<script>
    let path1 = '';
    let title = '';
    let xlabel = '';
    let idsvg = '';
    let keylabel = '';

    function chooseTab(tabName, elmnt, color) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }
        tabName();
        elmnt.style.backgroundColor = color;
    }

    function Overview() {
        console.log('overview tab');
        
    }

    function Customers() {
        console.log('Customers tab');
    }

    function Employees() {
        console.log('Employees tab');
        //rank chart
        path1 = 'http://127.0.0.1:8000/dashboard/topemployees/';
        title = 'top employee';
        xlabel = 'employee';
        idsvg2 = '#chart2';
        keylabel = 'SalesPersonName';
        rankChart(path1);
    }

    function Stores() {
        console.log('Stores tab');
        //rank chart
        path1 = 'http://127.0.0.1:8000/dashboard/topstores/';
        title = 'top store';
        xlabel = 'store';
        idsvg2 = '#chart2'
        keylabel = 'Store';
        rankChart(path1);
        //store chart
        idsvg1 = '#chart1';
        singapore_map(idsvg1);
        console.log("C:/Users/TUAN_ANH/Desktop/ABCproject/templates/mapStore.html");
    }

    function Products() {
        console.log('Products tab');
    }
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>