<script src="C:\Users\TUAN ANH\Desktop\ABCproject\static\js\d3.v4.js"></script>

<link rel="stylesheet" type="text/css" , href="..\static\css\tooltips.css" />
<div id="tooltip" class="hidden">
    <p><span id="value"></p>
</div>
<svg width="500" height="350" id='chart1' style="background-color: #deebf7;"></svg>

<script src='C:\Users\TUAN ANH\Desktop\ABCproject\static\js\linechart.js'></script>
<script>
    line('http://127.0.0.1:8000/dashboard/overview/', '#chart1', 'total sale overtime');
</script>