body {
    font-family: Sans-serif;
    font-size: 11px;
}

.slice {
    cursor: pointer;
}

.slice .main-arc {
    stroke: #fff;
    stroke-width: 1px;
}

.slice .hidden-arc {
    fill: none;
}

.slice text {
    pointer-events: none;
    text-anchor: middle;
}
.viz {
    background-color: #deebf7;
}

#tooltip {
    font-size: 12px;
    position: absolute;
    width: auto;
    height: auto;
    padding: 2.5px;
    border: 1px solid black;
    background: rgb(250, 250, 250);
    background: rgba(250, 250, 250, 0.8);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    pointer-events: none;
}

