 {% load static %}
<link rel="stylesheet" type="text/css" , href="{% static 'css/menuDashboard.css' %}" />
<script src="{% static 'js/d3.v4.js' %}"></script>
<script src="{% static 'js/rankchart.js' %}"></script>
<script src="{% static 'js/singmap.js' %}"></script>
<script src="{% static 'js/linechart.js' %}"></script>
<script src="{% static 'js/worldmap.js' %}"></script>
<script src="{% static 'js/zoomable.js' %}"></script>

<button class="tablink" onclick="chooseTab(Overview, this, 'green')" id="defaultOpen">Overview</button>
<button class="tablink" onclick="chooseTab(Customers, this, 'green')">Customers</button>
<button class="tablink" onclick="chooseTab(Employees, this, 'green')">Employees</button>
<button class="tablink" onclick="chooseTab(Stores, this, 'green')">Stores</button>
<button class="tablink" onclick="chooseTab(Products, this, 'green')">Products</button>

<script>
    function chooseTab(tabName, elmnt, color) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }
        tabName();
        elmnt.style.backgroundColor = color;
    }

    function Overview() {
        console.log('overview tab');
        line("{% url 'overview' %}", '#chart2');
        d3.select('#chart1').selectAll('*').remove();
        
    }

    function Customers() {
        console.log('Customers tab');
        //rank chart
        rankChart("{% url 'top10customers' %}", 'top customer', 'customer', '#chart2', 'CustomerName');
        d3.select('#chart1').selectAll('*').remove();
        world_map("{% url 'worldPath' %}", "{% url 'topcustomers' %}",  '#chart1');
    }

    function Employees() {
        console.log('Employees tab');
        function rankClick(data){
            if(data == 'Rob Carsson'){
                console.log(data);
            }
        }
        //rank chart
        rankChart("{% url 'topemployees' %}", 'top employee', 'employee', '#chart2', 'SalesPersonName');
        d3.select('#chart1').selectAll('*').remove();
        //store chart
        
    }

    function Stores() {
        console.log('Stores tab');
        //rank chart
        rankChart("{% url 'topstores' %}", 'top store', 'store', '#chart2', 'Store');
        //store chart
        singapore_map("{% url 'singPath' %}", "{% url 'topstores' %}",  '#chart1');
    }

    function Products() {
        console.log('Products tab');
        zoomable("{% url 'zoomable' %}", '#chart1');
        d3.select('#chart2').selectAll('*').remove();
    }
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>