body {
    background-color: none;
}

.verNavBar{
    float: left;
    width: 18%;;
    border-right: solid;
    border-width: medium;
}

.content{
    padding-left: 10px;
    float: left;
    width: 80%;
}